body{
  text-align: center;
  font-family: 'Montserrat' sans-serif;
  font-size: 17px;
  margin: 0;
    }

h1 {
  position: relative;
  font-family: 'Monsterrat' san-serif;
  color: #327fa8;
  font-size: 100px;
  font-weight: normal;
}

h1 {animation: name ease 3s;
  animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

@keyframes name {

  0% {
    opacity: 0;
  }
   100% {
     opacity:100;
   }
}
h2 {
font-size: 40px;
font-weight: 300;
text-align: center;
 color: #0265d6;
  text-shadow: 5px #000;
  
}

h2 { animation: name2 ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes name2 {

  0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

a {
text-decoration: none;
color: #2d7ab5;
}

a:hover {
  color: #834d85;
}

.projects {
padding-right: 30px;
display: none;
}
.computer-img {
  position: relative;
  padding-right: 40px;
  width: 16rem;
  mix-blend-mode: multiply;
}

.profile-pic{
  width: 20rem;
  padding-right: 20rem;
}

.top-container{
 background-color: #F4FCD9;
  padding-top: 100px;
}

.middle-container{
background-color: #F4FCD9;
margin: 100px 0;
}

.skills {
  text-align: left;
  width: 5%;
  margin: 100px auto 100px auto;
  padding-right: 30px;
  display: none;
  }

.skills-title {

}

.btn{
background: #11cdd4;
font-size: 20px;
font-style: 'Montserrat' normal;
color: white;
padding: 10px 20px 10px 20px;
border-radius: 10px;
top: 40px;
position: relative;
}


.btn:hover{
  background-color: #30e3cb;
  }

  .bottom-container {
    background-color: #66BFBF;
    padding: 30px 0 20px 20px;
  }

.created-projects{
font-size: 20px;
}  
.contact-me {
  margin: 80px 0;
}
.fotter-link:hover {
color: #ffff;
}
